.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*

# When building locally in a container, .pnpm-store can end up in the workspace root (see https://stackoverflow.com/a/78019974)
# So make sure to exclude it from the extension build.
.pnpm-store
